{% extends 'base.html.twig' %}

{% block title 'List events' %}

{% block body %}
    <section id="list-events">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="d-flex justify-content-between">
                        <h1 class="fw-bolder" style="color: limegreen;">Search events</h1>
                        <form action="{{ path('app_event_search') }}" method="get">
                            <div class="input-group">
                                <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="Search an event by name">
                                <button type="submit" class="btn btn-sm fw-semibold" style="border: 1px solid limegreen; color: limegreen;">Search</button>
                                <label for="name" class="visually-hidden">Event name</label>
                            </div>
                        </form>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                        {% for event in events %}
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5 class="fw-bolder mb-0">
                                                {{ event.name }}
                                            </h5>
                                        </div>
                                        <div class="card-text d-flex justify-content-between">
                                            <div>
                                                {% if event.organizations|length > 0 %}
                                                    <p class="my-0">{{ event.organizations|map(o => o.name)|join(', ') }}</p>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <p class="mb-0">From <span
                                                            class="fw-semibold">{{ event.startDate|date('d/m/y') }}</span>
                                                    to
                                                    <span class="fw-semibold">{{ event.endDate|date('d/m/y') }}</span></p>
                                                <p class="mt-0">Accessible
                                                    : {{ event.accessible ? '<span style="color: limegreen;">Yes</span>' : '<span style="color: red;">No</span>' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div> There are no events yet...</div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col m-auto justify-content-start">
                            <a href="{{ path('app_event_list') }}">
                                <button class="btn text-black bg-white" style="border-color: limegreen;">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
