{% extends 'base.html.twig' %}

{% block title %}{{ organization.name }} - Details{% endblock %}

{% block body %}
    <div class="container flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title">
                            <h1 class="fw-bold" style="color: limegreen;">{{ organization.name }}</h1>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Created {{ organization.createdAt|date('d/m/Y') }}</li>
                        <li class="list-group-item">
                            <p class="">{{ organization.presentation }}</p>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-4">
                                <h5>Projects:</h5>
                                {% for project in organization.projects %}
                                    <a href="{{ path('app_project_show', {id: project.id}) }}">{{ project.name }}</a>&nbsp;
                                {% endfor %}
                            </div>
                            <div class="mb-4">
                                <h5>Events:</h5>
                                {% for event in organization.events %}
                                    <a href="{{ path('app_event_show', {id: event.id}) }}">{{ event.name }}</a>&nbsp;
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
