{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(form.name, {row_attr: {class: 'form-floating mb-3'}}) }}
    {{ form_row(form.email, {row_attr: {class: 'form-floating mb-3'}}) }}
    {{ form_row(form.subject, {row_attr: {class: 'form-floating mb-3'}}) }}
    {{ form_row(form.message, {row_attr: {class: 'form-floating mb-3'}}) }}
<button type="submit" class="btn btn-lg" style="background-color: limegreen;">Send</button>
{{ form_end(form) }}
